/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Inter", sans-serif;
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 10px auto;
}

.hoveredbg {
  background-color: yellow;
}
